* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  background-color: linear-gradient(
    259.93deg,
    #000000 -41.68%,
    #00171f 146.85%
  );
}

body {
  margin: 0;
  font-family: "Archivo", sans-serif;
  background: linear-gradient(259.93deg, #000000 -41.68%, #00171f 146.85%);
  color: #ffff;
  overflow: hidden;
}
